.footer{
	display: flex;
	height:300px;
	font-weight: bold;
	color: var(--white);
	background-color: var(--red);
	justify-content: center;
}

.navegacao, .contato{
	margin:50px 200px;
}

.navegacao h3, .contato h3{
	font-size:32px;
	margin-bottom: 0.75rem;
}

.navegacao a{
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--white);
	display: block;
	margin: 0.5rema 0px;
}

.contato p{
	font-size: 1.5rem;
	margin: 0.5rema 0px;
}
