.home{
	display: flex;
	width:100%;
	height: 90vh;

	align-items: center;
	justify-content: space-evenly;
}


.leftSide h2{
	font-family: "Kaushan Script";
	font-size: 5rem;
	text-align:center;
	color: var(--dark-blue);
	margin-bottom:50px;
}

.leftSide h2>span{
	color: var(--dark-red);
}

.leftSide p{
	color: var(--text);
	font-size: 1.5rem;
	text-align: center;
}

.rightSide{
	display: flex;
	width:600px;
	justify-content: center;
	height:90vh;
	overflow:hidden;
}

.imgLeft img{
	display: block;
	width:270px;
	margin: 16px ;
	border-radius:16px;
}


.imgRight img{
	display: block;
	width:220px;
	margin: 16px ;
	border-radius:16px;
}
.imgLeft img:hover{
	width:286px;
	margin:16px 0px 0px;
	transition: 0.3s ;
}

.imgRight img:hover{
	width:236px;
	margin:16px 0px 0px;
	transition: 0.3s ;
}
